.rounded {
    border-radius: .25rem !important;
}

.pagination {
    padding-right: 1.5rem;
}

.pagination > li > span {
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
}

.pagination > .active > span {
    background-color: #fcfcfc;
    color: #a94442;
    cursor: pointer;
}