.tools_app {
    color: #000000;
}

.tools_app .left_control {
    cursor: default;
    border-right: #222222 solid .1rem;
    position: absolute;
    left: 0;
    border-radius: .55rem !important;
    bottom: 0;
    color: #e0e0e0;
    top: 0;
    width: 25%;
    text-align: center;
    background-color: #212121;
}

.left_control .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 5rem 0 5rem 0;
}

.left_control .line {
    display: block;
    height: .3rem;
    margin: 3.5rem 3.5rem 2.5rem 3.5rem;
    background-color: #e0e0e0;
}

.left_control .item {
    font-size: 1.5rem;
    cursor: pointer;
    margin: 1rem auto;
}

.left_control .item:hover {
    color: #ffffff;
    font-weight: bold;
}

.left_control .item.active {
    color: #ffffff;
    font-weight: bold;
}

.left_control .bottom-view {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: .55rem !important;
    background-color: #424242;
}






.tools_app .main {
    padding-left: 25%;
    cursor: default;
}

.main .top {
    background-color: #263238;
    color: #ffffff;
    border-radius: .55rem !important;
    margin-bottom: 5rem;
    height: 15rem;
}

.top .title {
    padding: 3rem 0 0 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.bar div {
    display: inline-block;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    cursor: pointer;
}

.view {
    text-align: center;
}

.view .title {
    font-weight: bold;
    height: 5rem;
    font-size: 1.85rem;
    line-height: 5rem;
}

.view .values {

}

.view .values .value {
    font-size: 1.5rem;
    border-radius: .65rem !important;
    line-height: 4.8rem;
    height: 5rem;
    margin: 1.5rem auto;
}

.value:hover {
    background-color: #cfd8dc;
    cursor: pointer;
}

.value .options > span {
    display: inline-block;
    margin-right: .5rem;
    cursor: pointer;
}

.value .options > span:last-child {
    margin-right: 0;
}

.value .options > span:hover {
    color: #455A64;
}

/*.main .title > div {*/
/*    display: inline-block;*/
/*}*/