.tools_app {
    color: #000000;
}

.tools_app .left_control {
    cursor: default;
    border-right: #f4f4f4 solid .1rem;
    position: absolute;
    left: 0;
    /* border-radius: .55rem !important; */
    bottom: 0;
    color: #333;
    top: 0;
    width: 12%;
    text-align: center;
    background-color: #ffffff;
}

.left_control .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 2rem 0;
}

.left_control .line {
    display: block;
    height: .2rem;
    margin: 3.5rem 1.5rem 1.5rem 1.5rem;
    background-color: #e0e0e0;
}

.left_control .item {
    font-size: 1.68rem;
    cursor: pointer;
    margin: 1rem auto;
}

.left_control .item:hover {
    color: #607d8b;
    font-weight: bold;
}

.left_control .item.active {
    color: #286090;
    font-weight: bold;
}

.left_control .bottom-view {
    position: absolute;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-radius: .55rem !important;
    background-color: #f5f5f5;
}

.tools_app .main {
    padding-left: 12%;
    cursor: default;
}

.main .top {
    background-color: #ffffff;
    color: #000000;
    /* border-radius: .55rem !important; */
    margin-bottom: 2rem;
    height: 10rem;
    border-bottom: #607d8b solid .3rem;
}

.top .bar #search_keyword {
    border: none;
    width: 25rem;
    line-height: 3rem;
    border-bottom: #607d8b solid .1rem;
    font-size: 1.4rem;
    padding-left: .5rem;
}

.main .no-value {
    margin-left: 3rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.top .title {
    padding: 2rem 0 0 3rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bar div {
    font-size: 1.68rem;
    display: inline-block;
    margin-right: 1.5rem;
    padding-left: 1.5rem;
    cursor: pointer;
}

.bar div div:hover {
    color: #607d8b;
    font-weight: bold;
}

.view {
    text-align: center;
}

.view .title {
    font-weight: bold;
    height: 5rem;
    font-size: 1.85rem;
    line-height: 5rem;
}

.view .values .value {
    font-size: 1.5rem;
    border-radius: .65rem !important;
    line-height: 4.8rem;
    height: 5rem;
    margin: 1.5rem auto;
}

.value:hover {
    background-color: #f5f5f5;
    color: #607d8b;
    cursor: pointer;
}

.value .options > span {
    display: inline-block;
    margin-right: .5rem;
    cursor: pointer;
}

.value .options > span:last-child {
    margin-right: 0;
}

.value .options > span:hover {
    color: #455A64;
}

/**
model div mask
 */

.show {
    cursor: default;
    background-color: #0000006b;
}

.mask .content {
    background-color: #f0f0f0;
    width: 40%;
    border-radius: .65rem !important;
    margin: 0 auto;
}

.mask-header {
    border-radius: .65rem .65rem 0 0!important;
    background-color: #77bc1f;
}

.mask-header span {
    display: inline-block;
}

.mask-header .title {
    font-size: 2rem;
    font-weight: bold;
    color: aliceblue;
    margin: 2rem 0 2rem 3rem;
}

.mask-body .input-view {
    padding: 1.5rem 0 .5rem 3rem;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.mask-body .no-value {
    font-size: 1.85rem;
    margin: 2.5rem;
}

.mask-body .input-view label {
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 12rem;
    margin: .5rem 3rem 0 0;
    vertical-align: top;
}

.mask-body .input-view label::after {
    content: ":";
}

.mask-body .input-view input {
    display: inline-block;
    padding: 1rem .8rem;
    border-radius: .65rem !important;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    border: none;
    width: 30rem;
}

.mask-body .input-view .view-only {
    width: 70%;
    line-height: 2.5rem;
    display: inline-block;
}

.mask-body .input-view textarea {
    display: inline-block;
    padding: 1rem .8rem;
    border-radius: .65rem !important;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    border: none;
    width: 30rem;
}

.mask-footer {
    text-align: center;
}

.mask-footer .btn-group {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    width: 100%;
}

.mask-footer .btn-group span {
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 1.5rem;
}

.btn-group span.submit {
    background-color: #77bc1f;
    color: #f0f0f0;
    border-radius: 0 0 0 .65rem!important;
}

.btn-group span.submit:hover {
    background-color: #3c763d;
}

.btn-group span.cancel {
    background-color: #ffffff;
    border-radius: 0 0 .65rem 0!important;
}