.rounded {
    border-radius: .25rem!important;
}

.p-3 {
    padding: 1rem!important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.lh-100 small {
    font-size: 80%;
}

.small, small {
    font-size: 100%;
    font-weight: 400;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

.bg-white {
    background-color: #fff!important;
    cursor: default;
}

.pb-2, .py-2 {
    padding-bottom: .5rem!important;
}
.mb-0, .my-0 {
    margin-bottom: 0!important;
}
.border-bottom {
    border-bottom: 1px solid #dee2e6!important;
}
.h6, h6 {
    font-size: 1rem;
}

.pt-3, .py-3 {
    padding-bottom: 1rem!important;
    padding-top: 1rem!important;
}

/**
    Title
 */
.storage-title {
    line-height: 2rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.item-list small {
    cursor: pointer;
    font-size: 1.5rem;
    margin-right: 1rem;
    line-height: 1.5rem;
}

.search-group .search-view {
    display: inline-block;
    padding: .5rem;
    cursor: default;
    font-size: 1.5rem;
    border-radius: .35rem !important;
    border: #f0f0f0 solid 1px;
    margin-right: 3rem;
}

.search-group .search-btn {
    color: #ffffff;
    font-size: 1.5rem;
    margin-right: 1rem;
    line-height: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}




.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mr-2, .mx-2 {
    margin-right: .5rem!important;
}

.lh-125 {
    line-height: 1.25;
}
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}

.d-block {
    display: block!important;
    margin-bottom: 1px;
}

b, strong {
    font-weight: bolder;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.text-muted {
    color: #000000 !important;
    display: inline-flex;
    width: 100%;
    line-height: 1.25;
}

.text-muted:hover {
    background-color: #f5f5f5;
}

.pagination>li>a, .pagination>li>span {
    border: none;
}

.bd-placeholder-img.rounded {
    display: block;
    width: 48px;
    height: 48px;
    margin: 5px 0;
}

.text-muted .item:first-child {
    line-height: 4.5;
    margin: 0 2rem;
}

.text-muted .item:nth-child(3) {
    margin: 4px auto;
    cursor: pointer;
}

.text-muted .item:last-child {
    line-height: 4;
}

.text-muted .item:last-child > span {
    font-size: 15px;
    margin-right: 0.5rem;
}

.text-muted .item:last-child > span:last-child {
    margin-right: 0;
}

span.img-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

.border-bottom.border-gray.pb-2.mb-0 span {
    line-height: 3;
    font-weight: 500;
}

.img-icon.bg-new {
    background: url(/images/add_circle_outline_24px.png) no-repeat center;
}

.img-icon.bg-detail {
    background: url(/images/more_31.478260869565px.png) no-repeat center;
}

.img-icon.bg-edit {
    background: url(/images/Clipboard_edit_16px.png) no-repeat center;
}

.img-icon.bg-stop {
    background: url(/images/error.png) no-repeat center;
}

.click_link {
    cursor: pointer;
}

.click_link:hover {
    color: #3e9bff;
}

.no-value {
    color: #000000;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

/* page component */
.pagination li > span {
    cursor: pointer;
}